matplotlib>=3.7.1
numpy>=1.24.3
pandas>=1.5.3
scipy>=1.10.1
pingouin~=0.5.3
seaborn>=0.12.2
nilearn>=0.10.1
networkx>=3.1
setuptools>=67.8.0
scikit-learn>=1.2.2
nibabel>=5.1.0
munkres>=1.1.4
tqdm>=4.65.0
pybids~=0.16
```